.container {
    .content {
        text-align: center;
        .comments {
            border: solid #f1f1f1 2px;
            height: 300px;
            width: 100%;
            margin-top: 36px;
            padding-top: 12px;
            padding-left: 24px;
            border-radius: 8px;
            text-align: left;
            position: relative;
            float: left;
            .counter {
                font-size: 1em;
                font-weight: 700;
                color: gray;
                position: relative;
                float: left;
            }
            .count-user-online {
                margin-left: 12px;
                position: relative;
                float: left;
                font-size: 0.700em;
                width: 80px;
                height: 30px;
                text-align: right;
                color: gray;
                font-weight: 500;
                border: solid #e1eee1 2px;
                background-color: #e1eee1;
                padding-top: 5px;
                border-radius: 50px;
                fa-icon {
                    margin-top: 4px;
                    margin-left: 5px;
                    margin-right: 9px;
                    color: green;
                    font-size: 0.600em;                    
                    position: relative;
                    float: right;
                }
            }
        }
    }
}