.container {
    .content {
        text-align: center;
        .comments {
            border: solid #f1f1f1 2px;
            height: 300px;
            width: 100%;
            margin-top: 36px;
            padding-top: 12px;
            padding-left: 6px;
            border-radius: 8px;
            text-align: left;
            position: relative;
            float: left;
            .counter {
                font-size: 1em;
                font-weight: 700;
                color: gray;
                position: relative;
                float: left;
            }
            .count-user-online {
                margin-left: 6px;
                position: relative;
                float: left;
                font-size: 0.700em;
                width: 80px;
                height: 30px;
                text-align: right;
                color: gray;
                font-weight: 500;
                border: solid #e1eee1 2px;
                background-color: #e1eee1;
                padding-top: 5px;
                border-radius: 50px;
                fa-icon {
                    margin-top: 4px;
                    margin-left: 5px;
                    margin-right: 9px;
                    color: green;
                    font-size: 0.600em;                    
                    position: relative;
                    float: right;
                }
            }
            .sort {
                float: right;
                margin-right: 9px;
                position: relative;
                width: 70px;

                select {
                    border: none;
                    -webkit-appearance: none;
                    z-index: 1;
                    position: absolute;
                    background-color: transparent;
                    width: 74px;
                    font-size: 0.900em;
                    padding-left: 4px;
                    color: gray;
                }
                img {
                    z-index: 0;
                    position: absolute;
                    margin-left: 56px;
                    margin-top: 9px;
                }
            }
            .comment {
                position: relative;
                float: left;
                width: 100%;
                margin-top: 12px;
                height: 130px;
                text-align: left;
                textarea {
                    border-radius: 8px;
                    border: solid #f1f1f1 2px;
                    padding: 9px;
                }
            }
            .user-auth-actions {
                position: relative;
                float: right;
                font-size: 0.700em;
                font-weight: 500;
                height: 150px;
                margin-top: 45px;
                text-align: center;
                a {
                    color: var(--primary-color);
                    margin-right: 8px;
                    cursor: pointer;
                }
            }
            .users-comments {
                .user-comment {
                    font-size: 0.7em;
                    position: relative;
                    float: left;
                    border-radius: 8px;
                    border: solid #f1f1f1 2px;
                    padding: 9px;
                    width: 99%;

                    .avatar {
                        width: 40px;
                        margin-right: 5px;
                        margin-left: 12px;
                        position: relative;
                        float: left;
                        height: 40px;
                        border: solid var(--primary-color) 1px;
                        text-align: center;
                        border-radius: 50%;
                        line-height: 38px;
                        font-size: 1.5em;
                        color: #fff;
                        background-color: var(--primary-color);
                    }
                    .info {
                        position: relative;
                        float: left;
                        width: 70%;
                        span {
                            margin-left: 5px;
                            color: gray;
                            font-weight: 500;
                        }
                    }
                    .description {
                        position: relative;
                        float: left;
                        width: 100%;
                        padding-left: 60px;
                        margin-top: -20px;
                    }
                    .actions {
                        position: relative;
                        width: 100%;
                        padding-left: 60px;
                        a {
                            margin-right: 12px;
                            color: var(--primary-color);
                            font-weight: 500;
                            cursor: pointer;
                        }
                        .left {
                            float: left;
                        }
                        .right {
                            float: right;
                            fa-icon {
                                margin-right: 3px;
                            }
                        }
                    }
                }
            }
        }
        .send-form {
            button {
                width: 200px;
                background-color: var(--primary-color);
                color: #fff;
                font-size: 1em;
                font-weight: 500;
                border-radius: 8px;
                height: 40px;
                margin-top: 12px;
            }
        }
    }
}

@media (max-width: 400px)
{
    textarea {
        width: 170px;
    }
}
@media (min-width: 401px) and (max-width: 700px)
{
    textarea {
        width: 350px;
    }
}
@media (min-width: 701px) and (max-width: 900px)
{
    textarea {
        width: 550px;
    }
}
@media (min-width: 901px) and (max-width: 1000px)
{
    textarea {
        width: 750px;
    }
}
@media (min-width: 1001px) and (max-width: 1200px)
{
    textarea {
        width: 780px;
    }
}
@media (min-width: 1201px)
{
    textarea {
        width: 950px;
    }
}