:root {
  --primary-color: #8e4aec;
}

@import '~css-star-rating/css/star-rating.min.css';
@import '~bootstrap/scss/bootstrap';

$fa-font-path: 'assets/fontawesome/webfonts';
@import 'assets/fontawesome/css/fontawesome-all.min.css';

#main-container,
html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 3.5rem;
}

#main-container {
  display: flex;
  flex-direction: column;
}

#main-content {
  flex-grow: 1;
}
